.App {
  background-color: white !important;
}

.modal-content {
  width: 60% !important;
  margin: 0 auto;
}

.modal-footer,
.coral-images {
  justify-content: space-between !important;
  width: 100%;
}
